body {
    background-color: rgb(241, 230, 215);
    text-align: center;
}

#navegacao {
    display: flex;
    justify-content: flex-end;
    font-size: large;
    margin-right: 60px;
}

a {
    color: rgb(74, 74, 238);
}

.pontos-turisticos {
    text-align: center;
}

.container {
    display: flex;
    justify-content: flex-start;
}
